
#grid { 
  display: grid;
  
  grid-template-areas: 
  "#item1 #item3"
  "#inem2 #item3";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-color: black; 
  }
#grid > iframe {
  font-size: 5vw;
  border: 3px white dotted;
  margin: 10px;
}

#item3{
	grid-column-start: 2; 
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 3; 
}
iframe:hover{
	transform: scale(1.1)
}

@media screen and (max-width: 768px) {

	#grid{
		grid-template-areas:
		“#item1”
		“#item2”
		“#item3”;
		grid-gap: 5px;
	grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}
#item3{
	grid-column-start: auto; 
	grid-row-start: auto;
	grid-column-end: auto;
	grid-row-end: auto; 
}
}
